
/* small device */

@media screen  and (max-width: 425px) {

    /* navbar section */
    
    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        
    }

.nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nav-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/*  goat section*/

.goat-section{
    display: flex;
    flex-direction: column;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.card-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* instant section */
.instant-play-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.instant-play-tittle{
    text-align: center;
    }

/* game section */
.games-section{

    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    align-items: center;
    justify-content: center;



} 


.footer-details-list{
display: grid;
grid-template-columns: repeat(3, 0.1fr);

    
}


.social-logo{
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
}

.footer-terms{
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    justify-content: center;
    align-items: center;

}

.footer-text{
display: flex;
flex-direction: column;
}


footer{
    background: #0B0223;
    padding-top: 120px;
    padding-bottom: 120px;
width: auto;
align-items: center;
justify-content: center;
}


.main-section{
    width: auto;

}


.instant-play-section{
    display: flex;
    gap: 75px;
    margin-left: auto;

}



.instant-play-img{
    position: relative;
    margin-top: 0;
}

.instant-play-man{
    position: relative;
    width: 310px;
    left: 10px;
}

.instant-play-girl{
    position: absolute;
    width: 140px;
     bottom: -35px;
    left: -30px; 
}




}
